*{
	margin:0;
	padding:0;
}
header > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:600px;
	height:200px;
}
li{
	width:60px;
	height:60px;
	font-size:30px;
	font-family:Comic Sans MS;
	color: white;
}
nav{
	float: left;
	color: white;
	position: fixed;
	left: 0px;
	height: 100%;
}
body{
	background-color: black;
}
article{
	color: white;
	font-family:Comic Sans MS;
}
@media only screen and (max-width: 768px) {
	top: 0px;
	position: fixed;
}
#fl {
	width: 143px;
	height: 175px;
}
#sa {
	width:250px;
	height:175px;
}